html{
   box-sizing: border-box;
}

*,
*::after,
*::before{
 box-sizing: inherit;  
}

a{
   text-decoration: none;
   color: inherit;
}
:root{
--Grayish-blue: hsl(237, 18%, 59%);
--Soft-red: hsl(345, 95%, 68%);
--White: hsl(0, 0%, 100%);
--Dark-desaturated-blue: hsl(236, 21%, 26%);
--Very-dark-blue: hsl(235, 16%, 14%);
--Mostly-black-blue: hsl(235, 18%, 13%);
}

body{
	font-size: 14px;
	font-weight: 700;	
	font-family: 'Red Hat Text', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	transition: all 0.5s;
}
.container{
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}
.timer-inner{
	height: 98dvh;	
	background: url(../images/bg-stars.svg) no-repeat top/contain, 
	url(../images/pattern-hills.svg) no-repeat center bottom/contain;  
	background-color: var(--Very-dark-blue);
	text-align: center;
}
.timer-inner__title {
	color: var(--White);
	padding-top: 145px;
	text-transform: uppercase;
	letter-spacing: 6px;	
	margin-bottom: 100px;
	font-size: 24px;
	font-family: 'Red Hat Text', sans-serif;

}
.timer-inner__scoreboard{	
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 0 375px;
	font-family: 'Red Hat Text', sans-serif;
	font-size: 80px;	
}
.number{
	display: flex;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	color: var(--Soft-red);
	background: linear-gradient(to bottom, #2e304a 50%, hsl(236, 21%, 26%) 50%);
	margin: 0 13px 30px;	
	align-items: center;
	justify-content: center;
	letter-spacing: 6px;	
	font-weight: 700;	
	font-family: 'Red Hat Text', sans-serif;
	box-shadow: 0px 8px 4px #131317;
	position: relative;	
}
.number:nth-last-child(){
	margin-right: none;
}

.number::before {
	content: '';
	top: 50%;
   width: 10px;
   height: 10px;
	position: absolute;
   border-radius: 50%;
	left: 0;
	background-color: var(--Very-dark-blue);
	transform: translate(-50%, -50%);
}
.number::after{
	content: '';
	top: 50%;
   width: 10px;
   height: 10px;
	position: absolute;
   border-radius: 50%;
	right: 0;
	background-color: var(--Very-dark-blue);
	transform: translate(50%, -50%);
}

h2{
	color: var(--Grayish-blue);
	font-size: 10px;
	letter-spacing: 4px;	
}
.social-networks{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	gap: 35px;
}

.social-networks__facebook:hover .svg-icon path {
	fill: var(--Soft-red);
}
.social-networks__pinterest:hover .svg-icon path {
	fill: var(--Soft-red);
}
.social-networks__instagram:hover .svg-icon path {
	fill: var(--Soft-red);
}
.attribution{
	margin-bottom: 2px;
}
@media (max-width: 768px){
	.number{
		width: 100px;
		height: 100px;
		border-radius: 10px;
		margin: 0 8px 30px;	
		letter-spacing: 3px;	
	}
	.timer-inner__scoreboard{	
		padding: 0 200px;
		font-family: 'Red Hat Text', sans-serif;
		font-size: 60px;	
	}
}
@media (max-width: 520px){
	.number{
		width: 65px;
		height: 65px;
		border-radius: 8px;
		margin: 0 6px 20px;	
		letter-spacing: 3px;	
	}
	.timer-inner__scoreboard{	
		padding: 0 20px;
		font-size: 35px;	
	}
}

